.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
.env
.env.local
# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml

*.tfstate
test/data/*
test/terraform/*.backup
test/terraform/*.tfstate.backup
